In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [5]:
address='Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [6]:
address.split('Ja')

['Tokyo,', 'pan']

In [7]:
address.upper()

'TOKYO,JAPAN'

In [12]:
address.index('p')

8

split：指定した文字を除く 

index：指定した文字が何番目か示す。(0から開始。最も左が反応。存在しなければエラーとなる。) 

upper：大文字に変換

In [9]:
address.lower()

'tokyo,japan'

In [10]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [16]:
date_a.day

1

In [14]:
date_a.weekday()

1

()あり：メソッド：なんらかの処理をする 

()なし：属性：データへのアクセスのみ

In [17]:
from datetime import *
today = date.today()
birthday = date(1996, 9, 13)
life = today - birthday
print(life)

7570 days, 0:00:00

In [34]:
a=date(2008,1,1)

In [35]:
a

datetime.date(2008, 1, 1)

In [36]:
a.weekday()

1

In [21]:
tmp = date(1994,1,1)

In [40]:
import datetime
day=datetime.date(2017,6,5)
print(day)

2017-06-05

In [42]:
a=[9, 2, 5]
b=[4,1]
list_int.extend(b)

NameError: name 'list_int' is not defined