In [1]:
1+1

2

In [2]:
a=[1,2,3,4,5]

In [3]:
len(a)

5

In [11]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [14]:
s=0

for x in [1,2,3,4,5]:
    s=s+x    :d
s

15

リストの各要素をxという（仮の）名前を付けて取り出す

In [17]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

In [25]:
for lucky in list_tohoku:
    print(lucky)

5349
5478
5344
4644
4968
6259

In [28]:
s=0

for x in list_tohoku:
    s += x
    
s

32042

In [30]:
s/len(list_tohoku)

5340.333333333333

In [26]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val

In [27]:
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [31]:
list_shikoku = [3148, 2991, 2966, 2457]

In [34]:
s=0

for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [35]:
from statistics import *

In [36]:
mean(list_shikoku)

2890.5

これからはこのように答えておくこと！

In [45]:
a = {'Apple':100, 'orange':150, 'Grape':200}

In [46]:
a['Apple']

100

In [49]:
for x in a:
    print(x)
    print(a[x])

Apple
100
orange
150
Grape
200

In [55]:
s=0

for x in a:
    s +=a[x]
    
s/len(a)

150.0

In [56]:
a

{'Apple': 100, 'Grape': 200, 'orange': 150}

In [58]:
a.values()

dict_values([100, 150, 200])

In [60]:
mean(a.values())

150

In [62]:
s=0
for x in a.values():
    s +=x
s/len(a.values())

150.0

In [70]:
a=[1,2,3,4,5]

In [71]:
avg=mean(a)

In [72]:
avg

3

In [73]:
b=[(1-3)**2,(2-3)**2,(3-3)**2,(4-3)**2,(5-3)**2,]
b

[4, 1, 0, 1, 4]

In [74]:
var=mean(b)
var

2

In [75]:
stdev=var
var

2

In [95]:
a=[1,2,3,4,5]

s=0

for x in a:
    s +=x
    
avg=s/len(a)

s = 0
for x in a:
    s +=(x-avg)**2
    
v = s/len(a)
v**0.5

1.4142135623730951

In [98]:
a=list(range(1,21))

s =0

for x in a:
    s +=x
    
avg=s/len(a)

for x in a:
    s +=(x-avg)**2
    
v = s/len(a)
v**0.5

6.614378277661476

In [67]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for val in dict_tohoku:
    print(val)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [68]:
for val in dict_tohoku:
    print(dict_tohoku[val])

5349
4644
5344
4968
6259
5478

In [85]:
dict_tohoku

{'Yamagata': 4968,
 'akita': 4644,
 'aomori': 5349,
 'fukushima': 6259,
 'morioka': 5478,
 'sendai': 5344}

In [91]:
dict_tohoku.values()
print(dict_tohoku.values())

dict_values([5349, 4644, 5344, 4968, 6259, 5478])

In [93]:
from statistics import *

In [94]:
mean(dict_tohoku.values())

5340.333333333333